::highlight(margin-highlight-preview) {
  background-color: rgba(168, 85, 247, 0.3);
  color: inherit;
}

::highlight(margin-scroll-highlight) {
  background-color: rgba(99, 102, 241, 0.4);
  color: inherit;
}

::highlight(margin-page-highlights) {
  background-color: rgba(252, 211, 77, 0.3);
  color: inherit;
}

.margin-notification {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 999999;
}
